body {
    background-color: #f8f8f8;
  }
  
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container h1,
  .container p {
    color: #8a8a8a;
  }
  
  .container p {
    font-size: 16px;
  }
  
  #title {
    color: #FF6363;
    padding-bottom: 15px;
  }

  #tipamount, #total, #dividetip {
  color: #FF6363;
}

.results {
    text-align: center;
    background-color: rgba(218, 207, 207, 0.17);
    max-width: 300px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    margin-top: 30px ;
  }

.btn-success {
    width: 200px;
    background: #6c2726;
    color: white;
    border-bottom: solid 4px #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif
  }
  
  input[type="text"] {
    font-size: 18px;
    height: 45px;
    padding: 5px;
    width: 285px;
  }

  